<div class="container-fluid">
    <div class="well" style="text-align: center;">
        <h1>Dados a partir do CEP. Tabelando</h1>
    </div>
    <form name="formZumbi" novalidate>
        <div class="row">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 form-group">
                <label>CEP</label>
                <input ng-blur ng-model="ocorrencia.cep" ng-cep-validator maxlength="9" type="text" class="form-control" />
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 form-group">
                <label>Logradouro</label>
                <input disabled ng-blur ng-model="ocorrencia.logradouro" ng-minlength="4" type="text" class="form-control" />
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 form-group">
                <label>Número</label>
                <input ng-blur ng-model="ocorrencia.numero" required type="text" class="form-control" />
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 form-group">
                <label>Bairro</label>
                <input disabled ng-blur ng-model="ocorrencia.bairro" ng-minlength="4" type="text" class="form-control" />
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 form-group">
                <label>Cidade</label>
                <input disabled ng-blur ng-model="ocorrencia.cidade" ng-minlength="4" type="text" class="form-control" />
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 form-group">
                <label>Estado</label>
                <input disabled ng-blur ng-model="ocorrencia.estado" ng-minlength="2" type="text" class="form-control" />
            </div>    
        </div>
        <ng-zumbi-submit submit="adiciona(ocorrencia)"></ng-zumbi-submit>
    </form>
    <table ng-if="ocorrencias.length > 0" class="table">
        <thead>
            <th>Logradouro</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>            
            <th>CEP</th>
        </thead>
        <tbody>
            <tr ng-repeat="ocorrencia in ocorrencias">
                <td>{{ocorrencia.logradouro | upper}}</td>
                <td>{{ocorrencia.numero}}</td>
                <td>{{ocorrencia.bairro | upper}}</td>
                <td>{{ocorrencia.cidade | upper}}</td>
                <td>{{ocorrencia.estado | upper}}</td>
                <td>{{ocorrencia.cep}}</td>
            </tr>
        </tbody>
    </table>
</div>
